* {
    margin: 50vh;
}
* {
    padding: 50vh;
}
html {
    line-height: 10;
}
html {
    font-weight: 100;
}
html {
    font-style: oblique;
}
html {
    font-family: 'Courier New';
}
html {
    font-variant: small-caps;
}
html {
    font-size-adjust: 2;
}
html {
    font-stretch: normal; /* couldn't find stretchable font */
}
html {
    font-size: 200px;
}
